* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* general */

:root {
  font-size: 62.5%;

  /* sizes (h - height, w-width, m - margin, p - padding)*/
  --header-h: 7.2rem;
  --section-p: 8rem 0;
  /* colors */
  --hue: 270;
  --dark: hsl( var(--hue), 33%, 15% );
  --primary-color: hsl( var(--hue), 83%, 63% );
  --secondary-color: hsl( var(--hue), 22%, 83% );
  --button-hover-color: hsl(var(--hue) 57% 53%);
  --light-gray: hsla(0, 0%, 89%, 1);
  --bg-1: hsla(0, 0%, 98%, 1);
  --bg-2: hsla(0, 0%, 100%, 1);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 46%);
  --text-color-button: var(--bg-1);

  /* fonts */
  --family-titles: 'Montserrat', sans-serif;
  --family-text: 'Raleway', sans-serif;
  --font-logo: 700 2.1rem var(--family-titles);
  --font-title: 700 3rem var(--family-titles);
  --font-text: 400 1.6rem var(--family-text);
  --font-button: 500 1.6rem var(--family-text);
  --font-title-box: 700 2.4rem var(--family-titles);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-1);
  font: var(--font-text);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

main {
  margin-top: calc( var(--header-h) + 3.2rem );
}

.--title {
  font: var(--font-title);
  color: var(--dark);
  -webkit-font-smoothing: auto;
}

.--title-box {
  -webkit-font-smoothing: auto;
  font: var(--font-title-box);
  color: var(--title-color);
  margin-bottom: 1.2rem;
}

.--sections-padding {
  padding: var(--section-p);
}

.--sections-padding .--title {
  margin-bottom: 1.6rem;
}

.container {
  margin: 0 2.4rem;
}

.img {
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  gap: 3.2rem;
}

.button {
  display: inline-flex;
  align-items: center;
  font: var(--font-button);
  padding: 0 3.2rem;
  height: 5.6rem;
  background: var(--primary-color);
  color: var(--text-color-button);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background .3s;
}

.button:hover {
  background: var(--button-hover-color);
}

.--section-header {
  margin-bottom: calc( 6.4rem - 1.6rem);
}

/* header */
.header {
  width: 100%;
  border-bottom: 1px solid var(--light-gray);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--bg-1);
}

/* scroll header shadow */
.--scroll-shadow {
  box-shadow: 0 0 1.5rem hsla( var(--hue), 33%, 15%, 0.1 );
}

.header__navigation {
  width: 100%;
  height: var(--header-h);
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: inline-block;
  font: var(--font-logo);
  color: var(--dark);
}

.header__logo span {
  color: var(--primary-color);
}

/* menu links hover */

.menu__list a {
  position: relative;
  transition: color .3s;
}

.menu__list a:hover {
  color: var(--primary-color);
}

.menu__list a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -2.4rem;
  transition: width .3s;
}

.menu__list a:hover::after {
  width: 100%;
}

/* menu */
.menu__list {
  opacity: 0;
  visibility: hidden;
  top: -28rem;
  transition: .2s;
  display: none;
}

.icon-menu {
  visibility: visible;
  opacity: 1;
  color: var(--primary-color);
  font-size: 2.4rem;
  cursor: pointer;
  position: absolute;
  right: 2.4rem;
}

.icon-close {
  opacity: 0;
  visibility: hidden;
  color: var(--primary-color);
  font-size: 2.4rem;
  cursor: pointer;
  position: absolute;
  right: 2.4rem;
  top: -2.4rem;
  transition: .2s;
}

/* --show-menu */
.--show-menu .menu__list {
  opacity: 1;
  visibility: visible;
  width: 100vw;
  height: 100vh;
  background: var(--bg-2);
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  display: grid;
  place-content: center;
}

.--show-menu .grid {
  gap: 6.2rem;
}

.--show-menu .icon-close {
  opacity: 1;
  visibility: visible;
  top: 2.4rem;
}

.--show-menu .icon-menu {
  opacity: 0;
  visibility: hidden;
}

/* home */
.home {
  width: 100%;
  overflow: hidden;
}

.home .container {
  margin: 0;
}

.home__image {
  position: relative;
}

.home__image img {
  position: relative;
  right: 4.7rem;
  border-radius: 0.4rem;
}

.home__image::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  position: absolute;
  top: -16.8%;
  left: 16.8%;
  border-radius: 0.4rem;
}

.home__text {
  text-align: center;
  margin: 0 2.4rem;
}

.home__text p {
  margin: 1.6rem 0 3.2rem 0;
}

/* divider-1 */

.divider-1 {
  width: 100%;
  height: 0.1rem;
  background: linear-gradient(270deg, hsl( var(--hue) , 36%, 57%) 0%, hsla( var(--hue) , 65%, 88%, 0.34) 100%);
}

/* about */
.about {
  background: var(--bg-2); 
}

.about .container {
  margin: 0;
}

.about__image {
  position: relative;
}

.about__image img {
  border-radius: 0.4rem;
  position: relative;
}

.about__image::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  position: absolute;
  top: -8.3%;
  left: -33%;
  border-radius: 0.4rem;
  z-index: 0;
}

.about__text {
  margin: 0 2.4rem;
}

/* divider-2 */

.divider-2 {
  width: 100%;
  height: 0.1rem;
  background: linear-gradient(270deg, hsla( var(--hue) , 65%, 88%, 0.34) 0%, hsl( var(--hue) , 36%, 57%) 100% );
}

/* services */
.services .grid {
  gap: 2.4rem;
}

.services__header strong {
  color: var(--primary-color);
}

.card {
  height: 37.2rem;
  padding: 5.8rem 3.2rem;
  box-shadow: 0px 0px 1.2rem rgba(0, 0, 0, 0.08);
  text-align: center;
  border-bottom: .4rem solid var(--primary-color);
  border-radius: .4rem .4rem 0 0;
}

.card i {
  display: block;
  margin-bottom: 2.4rem;
  font-size: 8rem;
  color: var(--primary-color);
}

/* testimonials */

.testimonials {
  background: var(--bg-2);
}

.testimonials .--section-header {
  margin-bottom: calc( 6.4rem - 1.6rem - 3.2rem);
  /* ( mb - mbh2 - gapGrid ) */
}

.slider__testimony {
  box-shadow: 0px 0px 1.2rem rgba(0, 0, 0, 0.08);
  border-radius: .4rem;
  padding: 3.2rem;
}

.slider__testimony p {
  position: relative;
  text-indent: 3rem;
  color: var(--dark);
  font-weight: 500;
}

.slider__testimony span {
  font: 700 3.8rem serif;
  color: var(--primary-color);
  position: absolute;
  top: -.5rem;
  left: -3rem;
}
.slider__testimony cite {
  display: flex;
  align-items: center;
  margin-top: 2.4rem;
  font-style: normal;
}

.slider__testimony cite img {
  object-fit: cover;
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.8rem;
  clip-path: circle();
}

.testimonials__dots {
  width: 4.6rem;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin: 3.2rem auto 0 auto;
}

.dots {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--light-gray);
  cursor: pointer;
}

.--active {
  background: var(--primary-color);
}
